<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products"></ion-back-button>
    </ion-buttons>
    <ion-title>Incubation Hub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text >
    <h1>Incubatoin Hub</h1>
  </ion-text>
  <p>Working with up and coming tech start-ups to unlock their full potential</p>
  <ion-text color="primary">
    <h1>VidlyIT</h1>
  </ion-text>
  <ion-text color="primary">
    <h3>Hydro-Solution Hackathon Winners</h3>
  </ion-text>
  <img src="https://static.wixstatic.com/media/10d2c0_87e941a34fac4e02ba3f282a2dcc7f17~mv2.png/v1/fill/w_484,h_582,fp_0.54_0.15,lg_1,q_85/10d2c0_87e941a34fac4e02ba3f282a2dcc7f17~mv2.webp">
  <p>VidlyIT consists of Carol Khoza, Naomi Bisimwa, Phumlani Ntshangase, Thato Lesetla, Tinyiko Ntluri,
    and Christine Bisimwa, who leads the team.</p>
  <p>They won our hydrosolution hackathon by coming up with a device that can measure water quality.</p>
  <p>They are currently in our mentorship program, where we are helping them start and grow their own
    tech company (Agricore Marketplace).</p><br>
  <ion-text color="primary">
    <h1>Insert Team Name Here</h1>
  </ion-text>
  <ion-text color="primary">
    <h3>SASSA Grant Payments Hackathon Winners</h3>
  </ion-text>
  <img src="https://static.wixstatic.com/media/10d2c0_317ada9620314c8998968c6392f4ea32~mv2.jpeg/v1/fill/w_948,h_1140,fp_0.39_0.40,q_85,usm_0.66_1.00_0.01/10d2c0_317ada9620314c8998968c6392f4ea32~mv2.webp">
  <p>Insert Team Name Here is made up of Nceba Dumasi, Katlego Mokoena , Boipelo Marima, and Nobantu Gumbi.</p>
  <p>They won our 4th hackathon on SASSA grant payments by coming up with an innovation solution where your SASSA account can be accessed through a USSD code.</p>
  <p>They are currently in our mentorship program in which we are helping them develop their Hackathon solution further by offering mentorship and business guidance.</p>
  <ion-text color="primary">
    <h1>Digital Pulse</h1>
  </ion-text>
  <ion-text color="primary">
    <h3>Healthcare Hackathon Winners</h3>
  </ion-text>
  <img src="https://static.wixstatic.com/media/10d2c0_6dec74279a4f4c21a62c572fe07d8c23~mv2.png/v1/fill/w_430,h_517,fp_0.50_0.50,lg_1,q_85/10d2c0_6dec74279a4f4c21a62c572fe07d8c23~mv2.webp">
  <p>Digital Pulse is made of Chris Govender, Mahle Shabalala, Gabriel Cassim, Katleho Sebiloane, and Devakshan Naicker, who leads the team.</p>
  <p>They won our 5th hackathon on healthcare by coming up with a doctor diagnosis assistant, as well as a respiratory sound analyzer.</p>
  <p>They are currently in our mentorship program, where we are helping them work on developing their hackathon solutions.</p>
  <ion-text color="primary">
    <h1>The Committee</h1>
  </ion-text>
  <ion-text color="primary">
    <h3>Education Hackathon Winners</h3>
  </ion-text>
  <img src="https://static.wixstatic.com/media/10d2c0_a2864d3d43c1411b8153b03f8f216b86~mv2.jpeg/v1/fill/w_568,h_683,fp_0.51_0.66,q_85/10d2c0_a2864d3d43c1411b8153b03f8f216b86~mv2.webp">
  <p>The Committee is made up of Chester Muyeza, Comfort Tlaka, Kabelo Malatji, Junaid Rachidi, Joshua Vilanculo, and Jacob Swati.</p>
  <p>They won our 6th hackathon on Education by coming up with an interactive, digital platform that focuses on Early Childhood Development (ECD). The solution is also inclusive of children with hearing disabilities.</p>
  <p>They are currently in our mentorship program in which we are helping them develop their Hackathon solution further by offering mentorship and business guidance.</p>
  <ion-text color="primary">
    <h1>The Legends</h1>
  </ion-text>
  <ion-text color="primary">
    <h3>Housing Hackathon Winners</h3>
  </ion-text>
  <img src="https://static.wixstatic.com/media/10d2c0_3b22c3e3a77a4fcbae91699f6844a13c~mv2.jpg/v1/fill/w_807,h_970,fp_0.50_0.50,q_85/10d2c0_3b22c3e3a77a4fcbae91699f6844a13c~mv2.webp">
  <p>The Legends is made up of Leewayne Maponga, Munashe Maponga, Wesley Masunika and Isabel Bocolo.</p>
  <p>They won our 7th hackathon on housing.</p>
  <p>They are currently in our mentorship program, where we are helping them work on developing their hackathon solutions.</p>
</ion-content>