<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="menu-content">
        </ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>The Digital Citizen</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text >
    <h1>The Digital Citizen</h1>
  </ion-text>
  <ion-text color="primary">
    <h3>Making a citizen's life easier through tech</h3>
  </ion-text>
  <p>We aim to create a digital ecosystem where citizens can access public services and
    emergency response applications that make their lives easier.
  </p>
  <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
    <p><a href="https://digitalgcr.co.za/index.html">Visit the website</a></p>
  </ion-button>
  <ion-card>
    <ion-card-title>AFRI-TECH ALERT APP</ion-card-title>
    <ion-card-subtitle>1. Safety and Security</ion-card-subtitle>
    <ion-card-content>
      One of the products we have within the digital citizen 
      application, is the Afri-Tec alert application that can 
      be used to alert family and emergency response services 
      to the client in danger. We are currently creating innovative 
      solutions that will be embedded into the application.
      <br>
      <a href = "http://afri-tec.com/at-alert-app/">Visit the Website</a><br>
      The Amazing Features that we provide<br>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-text color="primary">
            <h3>PANIC BUTTON</h3>
          </ion-text> 
            <p>With a touch of a button on your smartphone, both your family
              and friends will be alerted and notified  if you are in an emergency, 
              and of your current location.</p>
            </ion-col>
          <ion-col size="6"><img src="https://static.wixstatic.com/media/6d0e60_b44c1aeb240e4404a2405eeae419ecda~mv2.png/v1/fill/w_540,h_540,al_c,lg_1,q_85/AT-Web-Icons%2525201_edited_edited.webp"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6"><img src="https://static.wixstatic.com/media/6d0e60_23b712a6cecf4628b65806c218a695eb~mv2.png/v1/fill/w_480,h_480,al_c,q_85,usm_0.66_1.00_0.01/AT-Web-Icons2.webp"></ion-col>
          <ion-col size="6">
            <ion-text color="primary">
            <h3>ANYWHERE, ANYTIME</h3>
          </ion-text> 
            <p>Alert and notify  your loved ones or close contacts, or be alerted,
               of a personal safety or medical emergency, anywhere, anytime.</p>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-text color="primary">
            <h3>CHECK-IN</h3>
          </ion-text> 
            <p>Ask your loved ones to send a check-in when they are safely at their 
              destination or send a check-in to your loved ones when you’ve arrived 
              at your intended location.</p>
            </ion-col>
          <ion-col size="6"><img src="https://static.wixstatic.com/media/6d0e60_19c5d1763d8141098447ce93b90c4183~mv2.png/v1/fill/w_540,h_540,al_c,q_85,usm_0.66_1.00_0.01/AT-Web-Icons3.webp"></ion-col>
        </ion-row>
      </ion-grid>
      OTHER FEATURES INCLUDE:
      <p>Collaborative & Innovative</p>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <img src="https://static.wixstatic.com/media/6d0e60_53a63786613f4d32ac2a0292e8c529e5~mv2.png/v1/fill/w_690,h_525,al_c,lg_1,q_90/AT-Web-Icons4.webp">
            <ion-text color="primary">
              <h3>SERVICES NEAR ME</h3>
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <img src="https://static.wixstatic.com/media/6d0e60_05338b785f8c471dafcfae894233b922~mv2.png/v1/fill/w_690,h_525,al_c,lg_1,q_90/AT-Web-Icons5%20(1).webp">
            <ion-text color="primary">
              <h3>INCIDENT REPORTING</h3>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <img src="https://static.wixstatic.com/media/6d0e60_488d9fb5368a40e9adc5d23e699f73ac~mv2.png/v1/fill/w_690,h_525,al_c,lg_1,q_90/AT-Web-Icons6%20(1).webp">
            <ion-text color="primary">
              <h3>INSTACOM MESSAGING</h3>
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <img src="https://static.wixstatic.com/media/6d0e60_da85045b2b4f4178bf6da2ddfd49f7dd~mv2.png/v1/fill/w_690,h_525,al_c,lg_1,q_90/AT-Web-Icons7%20(1).webp">
            <ion-text color="primary">
              <h3>SAFETY TIPS</h3>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <img src="https://static.wixstatic.com/media/6d0e60_8059ae32789e4655b829f99b4effb147~mv2.png/v1/fill/w_862,h_675,fp_0.50_0.50,q_90/6d0e60_8059ae32789e4655b829f99b4effb147~mv2.webp">
            <p><a href="https://apps.apple.com/za/app/afri-tec-alert/id1528506433">click here to download for the app store</a></p>
          </ion-col>
          <ion-col size="6">
            <img src="https://static.wixstatic.com/media/6d0e60_6e824e9d4ebe4cb684b4a0cef9cfb627~mv2.png/v1/fill/w_689,h_540,fp_0.50_0.50,lg_1,q_90/6d0e60_6e824e9d4ebe4cb684b4a0cef9cfb627~mv2.webp">
            <p><a href="https://play.google.com/store/apps/details?id=com.afritec.smartviewalert">click here to download for the google play store</a></p></ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-text color="primary">
              <h1>Download & Registration</h1>
            </ion-text>
            <ul>
              <li>Download the Afri-Tec Alert App from the Google Play or Apple store.</li>
              <li>Allow push-notifications as these will alert you if/when there is an emergency. 
                We recommend assigning a sound that will be easily heard when your push notification 
                comes through. This can be configured in your settings.</li>
                <li>Register as a new user. Under ”panic type” choose App Only.</li>
            </ul>
            <img src="https://static.wixstatic.com/media/6d0e60_a16c3c8cea624d3380a0132a57a706a3~mv2.png/v1/fill/w_1804,h_800,fp_0.50_0.50,q_90/6d0e60_a16c3c8cea624d3380a0132a57a706a3~mv2.webp">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text color="primary">
              <h1>Adding Members To Your Circle</h1>
            </ion-text>
            <ul>
              <li>Click on the “My Circle” icon.</li>
              <li>Hit the share icon, where you can send friends or family members instructions via whatsapp.</li>
              <li>Individuals tracking you will appear in the “Tracking Me” tab, and if you have been asked to 
                track someone they will appear in the “Tracking Others” tab. You can swipe left on the name of 
                anyone you wish to remove from your circle.</li>
            </ul>
            <img src="https://static.wixstatic.com/media/6d0e60_060e5dffcda34aad86a52f566c16f619~mv2.png/v1/fill/w_1804,h_800,fp_0.50_0.50,q_90/6d0e60_060e5dffcda34aad86a52f566c16f619~mv2.webp">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text color="primary">
              <h1>Adding Members To Your Circle</h1>
            </ion-text>
            <ul>
              <li>The ”Check-In” tab is on the top right of your home screen.</li>
              <li>When you have arrived safely at your destination, you can send a check in to circle members. 
                You can send a short message, and circle members can view the street address of your location. 
                You can also request a check in from circle members, to ensure they have arrived safely at their 
                destination.</li>
              <li>In the “Pending Check In” tab respond to requested check-ins.</li>
            </ul>
            <img src="https://static.wixstatic.com/media/6d0e60_9e005daf8a004083a37a235c2700932c~mv2.png/v1/fill/w_1804,h_800,fp_0.50_0.50,q_90/6d0e60_9e005daf8a004083a37a235c2700932c~mv2.webp">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-text color="primary">
        <h3>You can skip all the reading and visit the afri-tech youtube channel and watch the videos</h3>
      </ion-text>
      <a href="https://www.youtube.com/channel/UCM2e4VEvmxH-jUGIE3hMiuA">Click Here</a>
    </ion-card-content>
    <ion-card-title>ZIBUZA.NET</ion-card-title>
    <ion-card-subtitle>2.Education</ion-card-subtitle>
    <ion-card-content>
      Zibuza.net is an online professional learning community that 
      provides the  education sector with digital based solutions to
      enable growth within the education space, connecting teachers 
      with  their peers, experts and other stakeholders in basic education.  
      Providing 1000s  of  educational  materials, as well as empowering 
      teachers and learners with cutting-edge technology through the classroom, 
      while focusing on Virtual Classrooms and Virtual Teaching .<br>
      <ion-button  expand="block" fill="clear" shape="round">
        <a href ="https://zibuza.net/">Visit the link</a>
      </ion-button> 
    </ion-card-content>
  </ion-card>
</ion-content>
