<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="menu-content">
        </ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>partners</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Itakane Digital</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://static.wixstatic.com/media/10d2c0_a1785fee248d44998a397fc92897cc76~mv2.png/v1/fill/w_431,h_154,al_c,lg_1,q_85/Itakane%2520ICT%2520Logo_edited.webp">
     <p>At Itakane ICT, their mission is to make the world a smarter 
       place through innovative digital solutions. They provide smart 
       solutions for companies of all sizes and pride themselves on their
        unparalleled, dedicated service.
        </p><br>
        <p><a href="https://www.itakaneict.com/">Visit the website</a></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>The Good People Data Company</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://static.wixstatic.com/media/10d2c0_89e037a6c3eb432eb0db1e70cdcdb3df~mv2.png/v1/fill/w_370,h_223,al_c,lg_1,q_85/TGPDC%2520Final-2_edited.webp">
     <p>The Good People Data Company is your organisation's people
        verification and insights solution provider. We build digital 
        solutions to help your company digitally onboard and better 
        understand your employees and customers.
    </p><br>
    <p><a href="https://www.tgpdc.com/">Visit the website</a></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>NMVE Capital</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://static.wixstatic.com/media/10d2c0_d052c9b367374c35aef57060054c12c6~mv2.png/v1/fill/w_452,h_153,al_c,q_85,usm_0.66_1.00_0.01/NMVE%20Capital%20logo.webp">
     <p>NMVE Capital is a creative capital origination company for
        multinational corporations, national government, and medium-sized
         companies ready to benefit from their exceptional expertise and business network.</p><br>
         <p><a href="https://www.nmvecapital.com/">Visit the website</a></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Terabit Technologies</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://static.wixstatic.com/media/10d2c0_c10ef14770574634831ff2558725af76~mv2.png/v1/fill/w_452,h_153,al_c,q_85,usm_0.66_1.00_0.01/Terabit%2520Logo%2520Large%2520Black_edited.webp">
     <p>TERABIT Technologies is a leading provider of cutting-edge 
       Telecoms Infrastructure & Technical Services, offering scalable
        solutions for businesses of all sizes. They offer smart, innovative 
         services to dozens of clients in South Africa.   </p><br>
         <p><a href="https://www.terabitt.co.za/">Visit the website</a></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Afri-Tec</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://static.wixstatic.com/media/10d2c0_7840187ac46f4805a9a0bd09cdb68a70~mv2.png/v1/fill/w_179,h_42,al_c,lg_1,q_85/AfriTec-Logo-XXxtraSmall.webp">
     <p>IoT, Payment Solutions, Artificial Intelligence and Value Added Services
    </p><br>
    <p><a href="http://afri-tec.com/">Visit the website</a></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>PayPoint</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://static.wixstatic.com/media/10d2c0_fc6a9647207644ef8a6f59204ffb5293~mv2.png/v1/fill/w_452,h_153,al_c,q_85,usm_0.66_1.00_0.01/cropped-Logo-7.webp">
     <p>PayPoint is a Service and Technology Company providing Debit and 
       Credit Card Payments, SSD-ATM, Pre-Payment, Grant payments and Insurance
        systems to Financial Institutions, State Owned Enterprises and Retailers.</p><br>
        <p><a href="https://paypoint.co.za/">Visit the website</a></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>SmartView Technology</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://static.wixstatic.com/media/10d2c0_bc143316e8354871b98e6c114b6ed6ac~mv2.png/v1/fill/w_385,h_385,al_c,lg_1,q_85/SMARTVIEW%20LOGO.webp">
     <p>Smart-View Technology brings IoT devices to life from 
       visualization through analytics & machine learning. 
       Smart-View IoT accelerates digital transformation, 
       delivering insight and action from your data that unveils 
       unimaginable opportunities.</p><br>
       <p><a href="https://www.smartviewtechnology.co.za/">Visit the website</a></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Affiliated Partners</ion-card-title>
      <ion-card-subtitle>Partnered for the cause</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    <h3>Ashanti AI</h3>
    <img src="https://static.wixstatic.com/media/10d2c0_8522c0b7c6804af99eaf06b884e74798~mv2.png/v1/fill/w_451,h_96,al_c,lg_1,q_85/ashanti%20ai%20logo.webp">
     <p>
      Ashanti AI is here to design new solutions to existing problems
      you might experience, as well as the newly discovered ones.
      Their team of data scientists uses an assortment of skills
      and viewpoint, together with a toolbox of techniques to drive value your way.</p>
      <br>
       <p><a href="https://www.ashanti.ai/">Visit the website</a></p>
       <h3>X Link</h3>
       <img src="https://static.wixstatic.com/media/10d2c0_862f5d1293b44e6fb82315acd9ac40bd~mv2.png/v1/fill/w_147,h_139,al_c,lg_1,q_85/1_-2017-NEW-LOGO-03-1.webp">
     <p>
      With proven expertise in secure payment connectivity, XLink’s secure, 
      managed network capability, national contact centre, field support and 
      logistics underpin their commitment to linking people, business and technology. 
      With Vodacom, their partner, they provide market-leading IT solutions utilising 
      the latest innovations and trends in information technology for the benefit of their customers.</p>
      <br>
       <p><a href="https://www.xlink.co.za/">Visit the website</a></p>
       <h3>Prime Holdings</h3>
       <img src="https://static.wixstatic.com/media/10d2c0_06f655d2b83d41148028c512b62682e3~mv2.png/v1/fill/w_385,h_157,al_c,lg_1,q_85/logo_edited.webp">
       <p>
        Prime Holding Group was established for one main exciting purpose; 
        to explore and seize unique investment opportunities locally and internationally.
        PHG’s extended reach in major global markets enhances its placement powers and 
        builds solid grounds upon which the Group’s investments are based.</p>
        <br>
         <p><a href="http://primeholdings.org/">Visit the website</a></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Partner with us</ion-card-title>
      <ion-card-subtitle>Have an Impact</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     <p>Our organization always appreciates the generosity 
      and involvement of people like you, with every contribution going towards 
      making Empire Partner Foundation an even better Non-Profit Organization than 
      it already is. We want to provide you with the correct and appropriate information
       pertaining to your mode of support, so don’t hesitate to contact us with your questions.</p>
    <ion-button color="primary" routerLink="/contactus">Partner with Us</ion-button>
    </ion-card-content>
  </ion-card>
  </ion-content>
