<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="menu-content">
        </ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Empire Partner Foundation</ion-card-title>
      <ion-card-subtitle>Our Story</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <!-- <img src="/epfApp/src/assets/10d2c0_366961eddbbc4a59a7fb7d05230b2392_mv2.webp"> -->
     <p>The Empire Partner Foundation Tech Hub is a non-profit organisation 
       that was started by a group of young South Africans in 2016. Our goal 
       is to build South Africa, and eventually the continent of Africa, by 
       solving key challenges through tech.
     </p><br>
     <p>The ten challenges that we want to solve are:
    </p>
    <ul type = "1">
      <li>Water</li>
      <li>Energy</li>
      <li>Healthcare</li>
      <li>Education</li>
      <li>Agriculture</li>
      <li>Rural Development</li>
      <li>Transport</li>
      <li>Housing</li>
      <li>Unemployment</li>
      <li>Security</li>
    </ul>
    <br>
    <!-- <ion-button color="primary" (click)="homePage()">Home</ion-button> -->
    </ion-card-content>
  </ion-card>
</ion-content>

