<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="menu-content">
        </ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>The Hackathons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Participate in a Hackathon</ion-card-title>
      <ion-card-subtitle>Take the step towards making a difference in Africa</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>In order to propel this advocacy of “Digital Citizenship”, 
        monthly hackathons are held to write software and build hardware
       solutions which address the 10identified key challenges.
      </p>
      <img src="https://static.wixstatic.com/media/6d0e60_3eb05918428d4587a64352dae750a3ca~mv2.jpg/v1/fill/w_1088,h_620,fp_0.50_0.50,q_85/6d0e60_3eb05918428d4587a64352dae750a3ca~mv2.webp">
     <p>Stay tuned for more information about our upcoming hackathon.</p>
     <ion-button color="primary" routerLink="/hackathonregistration">Register</ion-button>
     <p>Another way you can be part of the hackathons you can become a sponsor click the link below to find out more</p>
     <p><a href="" routerLink ="/sponsor">Become a Sponsor</a></p>
    </ion-card-content>
  </ion-card>

</ion-content>
